
.header {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row; /*column es columnas, y se puede invertir*/
    background-color: none;
    padding: 20px;
    border: 2px solid black;
    justify-content: center;
    align-content: space-between 20px;
    div {
        background-color: $primary-color;
        width: 200px;
        margin: 10px;
        text-align: center;
        font-size: 20px;
        font-family: Anton, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font: black;
        border: 2px aquamarine solid;}
    }