//Variable
$primary-color:#22bcc2;
$secundary-color: rgb(211, 136, 211);
$font-color: black;
@import "_menu.scss";

body{
    display: flex;
    flex-wrap: wrap;
    background-color: $secundary-color;
    align-items: topline;
    font-family: verdana;
    div {    display: flex;
        flex-wrap: wrap;
        flex-direction: row;}
}


#huevo {
    width: 300px;
    height: 300px;   
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    
    }
    #huevo2 {
    width: 300px;
    height: 300px;   
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    box-shadow: 0px 15px 25px;
 }
    
    
    .lateralcolumn {
        width: 50px;
        height: 600px;
        background-color: #d4e1f0;
        border: solid black;
    }
    
    a{  color: black;
        text-decoration: none;
    }
    a:hover{
        color: white
    }
    
    .LINKAPRODUCTOS {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0px;
        padding: 0px;
        
         figure {
    
        display: flex;
        position: relative;
        height: auto ;
        width: 300px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 10px rgba(0,0,0,0.50);
        cursor: pointer;
        margin-block-start: 0px;    
             img {
    
        width: 300px;
        height:auto;
        transition: all 500ms ease-out;   }
            capa {
    
            position: absolute;
            top: 0 ;
            width:100%;
            height: auto;
            background: rgba (11,103,123,0.6);
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;
            align-items: center;
    }}}
    
 
    
    .LINKAPRODUCTOS figure:hover > .capa {
        opacity: 1;
        visibility: visible;
        
    }
    
    .LINKAPRODUCTOS figure:hover> .capa h3 {
        margin-top: 70px;
        margin-bottom: 15px;
        align-items: center;
        
    }
    
    .LINKAPRODUCTOS figure:hover> img {
        transform: scale(1.3);
        
    }
    
    .LINKAPRODUCTOS figure .capa h3 {
        color:antiquewhite;
        margin-bottom: 120px;
        margin left: 300px;
        transition: all 500ms ease-out;
        margin-top: 30px;
        width: 100%;
        align-items: center;
    }
    
    .LINKAPRODUCTOS figure .capa p {
        color:antiquewhite;
        font-weight: 200;
        width: 100%;
        margin-bottom: 120px;
        transition: all 500ms ease-out;
        margin-top: 30px;
    
    }
    
    
    #prueba {
        position: relative;
    
        margin-left: 0px;
        padding: 0px;
    }
    
    #bodyonboarding{
        background-image: url("../ASSETS/fondo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;   
        margin-top: 100PX;
        
    }
    
    * {
        font-family: Anton ;
        font-size: 30px;
       display: grid;
       /* align-content: center;
        align-items: center;*/
    /*    border: 2px solid black;
        /* margin: 30px;*/
        text-align: center;
        color: rgb(0, 0, 0);
    }
       
    
    
    #logo {
        height:  160px;
        width: auto;
        position: relative;
        
    }
    
    
    #logocaja {
        width: 100vw;
        height: auto;
        align-items: center;
        align-content: center;
        border:2px solid red;
    
    
    }
    
    
    
    #dos {
        position: absolute;
        top: 50%;
        left:center;
        width: 100%;
    
    }
    