$primary-color:#d4e1f0;
$secundary-color: antiquewhite;
@import url(_menu.scss);
body{
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    align-items: topline;
    font-family: verdana;
    div {    display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }
}


